<h1>{{title}}</h1>

<!-- Card Container -->
<div class="card">
  <div class="card-header">
    <h5>Add a New Wishlist Item</h5>
  </div>
  <div class="card-body">
    <!-- Form Starts Here -->
    <form method="POST">
      <!-- Destination Field -->
      <fieldset class="form-group">
        <label for="destination">Destination:</label>
        <input name="destination" id="destination" required class="form-control" />
      </fieldset>

      <!-- Date Field -->
      <fieldset class="form-group">
        <label for="date">Date:</label>
        <input name="date" id="date" required type="date" class="form-control" />
      </fieldset>

      <!-- Story Field -->
      <fieldset class="form-group">
        <label for="story">Story:</label>
        <textarea name="story" id="story" required class="form-control"></textarea>
      </fieldset>

      <!-- Submit Button -->
      <button class="btn btn-primary" type="submit">Save</button>
    </form>
    <!-- Form Ends Here -->
  </div>
</div>
