<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/styles/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <header>
    {{>nav}}
    <section class="hero">
        <div class="social-media">
            <a href="https://github.com/harshdeepsdhillon1" target="_blank"><img src="../public/images/GithubLogoWhite.png"></a>
            <a href="https://www.linkedin.com/in/harshdeep-singh-dhillon-b29603256/" target="_blank"><img src="../public/images/LinkedInLogoWhite.png"></a>
            <a href="mailto:harshdeepsdhillon1@gmail.com"><img src="../public/images/MailLogoWhite.png"></a>
        </div>
        <div class="hero-text">
            <h1>Hi, This is Harshdeep Singh👋</h1>
            <p>Passionate about Coding, Commited to Growth</p>
            <button id="CV">Download CV</button>
        </div>
        <div class="hero-image">
            <img src="../public/images/head_image.png" alt="Your Name">
        </div>
    </section>
</header>
    <!-- Skills Section -->
    <section id="skills">
        <h2>SKILLS</h2>
        <div class="skills-container">
            <div class="skill-category">
                <h3>FRONT END DESIGN🎨</h3>
                <ul>
                    <li><img src="/public/images/htmlLogo.png" alt="Html Logo">HTML</li>
                    <li><img src="/public/images/CSS3Logo.png" alt="CSS Logo">CSS</li>
                    <li><img src="/public/images/JsLogo.png" alt="JS Logo">JavaScript</li>
                    <li><img src="/public/images/ReactLogo.png" alt="React Logo">React</li>
                    <li><img src="/public/images/AngularLogo.png" alt="Angular Logo">Angular.js</li>
                    <li><img src="/public/images/bootstrapLogo.png" alt="Bootstrap Logo">Bootstrap</li>
                    <li><img src="/public/images/responsive-design.png" alt="Responsive Design Logo">Responsive Design</li>
                     <li><img src="/public/images//VSCodeLogo.png" alt="VS Code Logo">VS Code</li>
                     <li><img src="/public/images//PhpStormLogo.png" alt="PHP Storm Logo">PHP Storm</li>
                     <li><img src="/public/images//scenebuilder_Logo.png" alt="Scene Builder Logo">Scene Builder</li>
                     <li><img src="/public/images//Git_logo.png" alt="Git Logo">Version Control</li>
                     <li><img src="/public/images//API_Logo.png" alt="API Logo">API</li>

                </ul>
            </div>
            <div class="skill-category">
                <h3>BACK END ENGINEERING⚙️</h3>
                <ul>
                    <li><img src="/public/images/javaLogo.png" alt="Java Logo">Java</li>
                    <li><img src="/public/images/pythonLogo.png" alt="Python Logo">Python</li>
                    <li><img src="/public/images/Express.png" alt="Python Logo">Express.js</li>
                    <li><img src="/public/images/node-svgrepo-com.svg" alt="Node Logo">Node.js</li>
                    <li><img src="/public/images/androidLogo.png" alt="Android Logo">Android Studio</li>
                    <li><img src="/public/images/mongodbLogo.png" alt="MongoDB Logo">MongoDB</li>
                    <li><img src="/public/images/sqlLogo.png" alt="SQL Logo">MySQL</li>
                    <li><img src="/public/images/azureLogo.png" alt="Azure Logo">Azure</li>
                    <li><img src="/public/images/pycharm.svg" alt="Pycharm Logo">PyCharm</li>
                    <li><img src="/public/images/IdeaLogo.png" alt="IntelliJ IDEA Logo">IntelliJ IDEA</li>
                    <li><img src="/public/images//linux-logo.png" alt="Linux Logo">Linux</li>
                    <li><img src="/public/images/arduinoLogo.png" alt="Arduino Uno Logo">Arduino Uno</li>
                </ul>
            </div>
        </div>
    </section>    
    <!-- Contact Form Section -->
    <section id="contact">
       <div class="container mt-5">
        <h2 class="text-center mb-4">Contact Me</h2>
        <form>
            <div class="mb-3">
                <label for="name" class="form-label">What's your name?</label>
                <input type="text" class="form-control" id="name" placeholder="Enter your name" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Your Email📨</label>
                <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
            </div>
            <div class="mb-3">
                <label for="interest" class="form-label">I'm interested in💻</label>
                <select class="form-select" id="interest" required>
                    <option selected disabled value="">Select an option</option>
                    <option value="webDevelopment">Web Development</option>
                    <option value="mobileDevelopment">Mobile Development</option>
                    <option value="uiDesign">UI/UX Design</option>
                    <option value="backEndDevelopment">Backend Development</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Your message📩</label>
                <textarea class="form-control" id="message" rows="4" placeholder="Enter your message" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
        <div>  
            <h2>Let's Connect.🤝</h2>
            <p>Whether you have a project on mind, have a question or simply want to connect. Send me a message!</p>        
            <div class="social-media">
                <a href="https://github.com/harshdeepsdhillon1" target="_blank"><img src="../public/images/GithubLogoWhite.png"></a>
                <a href="https://www.linkedin.com/in/harshdeep-singh-dhillon-b29603256//" target="_blank"><img src="../public/images/LinkedInLogoWhite.png"></a>
                <a href="mailto:harshdeepsdhillon1@gmail.com"><img src="../public/images/MailLogoWhite.png"></a>
            </div>
        </div>
    </div>
    </section>

    <!-- Footer -->
    <footer>
        <a href="/"><img src="../public/images/logo.png"></a>
        <p>&copy; 2024 Harshdeep Dhillon. All rights reserved.</p>
        <a href="your-resume.pdf" download>RESUME</a>
    </footer>
    <script src="/js/bootstrap.min.js"
</body>
</html>