<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/styles/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>

</head>
<body>
    <header class="home-header">
    {{>nav}}
    </header>
    <section class="hero">
    <div class="hero-content">
        <!--Social Media Links-->
        <div class="social-media" data-aos="fade-right">
            <a href="https://github.com/harshdeepsdhillon1" target="_blank">
                <img src="../public/images/GithubLogoWhite.png" alt="GitHub">
            </a>
            <a href="https://www.linkedin.com/in/harshdeep-singh-dhillon-b29603256/" target="_blank">
                <img src="../public/images/LinkedInLogoWhite.png" alt="LinkedIn">
            </a>
            <a href="mailto:harshdeepsdhillon1@gmail.com">
                <img src="../public/images/MailLogoWhite.png" alt="Email">
            </a>
        </div>
        <!--Main Heading-->
        <div class="hero-text" data-aos="fade-up">
            <h1>Hi, This is Harshdeep Singh</h1>
            <p>Passionate about Coding, Committed to Growth</p>
            <button id="CV">
                <a href="/public/resume.docx" download>Download CV</a>
            </button>
        </div>
    </div>
    <div class="hero-image" data-aos="fade-down">
        <img src="../public/images/head_image.png" alt="Harshdeep Singh">
    </div>
</section>


    <section id="skills">
    <h2>Skills</h2>
    <div class="skills-container">
        <!-- Front End Design -->
        <div class="skill-category" data-aos="fade-up">
            <h3>Front End Design 🎨</h3>
            <ul>
                <li><img src="/public/images/htmlLogo.png" alt="HTML Logo">HTML</li>
                <li><img src="/public/images/CSS3Logo.png" alt="CSS Logo">CSS</li>
                <li><img src="/public/images/JsLogo.png" alt="JavaScript Logo">JavaScript</li>
                <li><img src="/public/images/ReactLogo.png" alt="React Logo">React</li>
                <li><img src="/public/images/AngularLogo.png" alt="Angular Logo">Angular.js</li>
                <li><img src="/public/images/bootstrapLogo.png" alt="Bootstrap Logo">Bootstrap</li>
                <li><img src="/public/images/responsive-design.png" alt="Responsive Design Logo">Responsive Design</li>
                <li><img src="/public/images/VSCodeLogo.png" alt="VS Code Logo">VS Code</li>
                <li><img src="/public/images/PhpStormLogo.png" alt="PHP Storm Logo">PHP Storm</li>
                <li><img src="/public/images/scenebuilder_Logo.png" alt="Scene Builder Logo">Scene Builder</li>
                <li><img src="/public/images/Git_logo.png" alt="Git Logo">Version Control</li>
                <li><img src="/public/images/API_Logo.png" alt="API Logo">API</li>
            </ul>
        </div>
        <!-- Back End Engineering -->
        <div class="skill-category" data-aos="fade-up">
            <h3>Back End Engineering ⚙️</h3>
            <ul>
                <li><img src="/public/images/javaLogo.png" alt="Java Logo">Java</li>
                <li><img src="/public/images/pythonLogo.png" alt="Python Logo">Python</li>
                <li><img src="/public/images/Express.png" alt="Express.js Logo">Express</li>
                <li><img src="/public/images/node-svgrepo-com.svg" alt="Node.js Logo">Node.js</li>
                <li><img src="/public/images/androidLogo.png" alt="Android Studio Logo">Android Studio</li>
                <li><img src="/public/images/mongodbLogo.png" alt="MongoDB Logo">MongoDB</li>
                <li><img src="/public/images/sqlLogo.png" alt="SQL Logo">MySQL</li>
                <li><img src="/public/images/azureLogo.png" alt="Azure Logo">Azure</li>
                <li><img src="/public/images/pycharm.svg" alt="PyCharm Logo">PyCharm</li>
                <li><img src="/public/images/IdeaLogo.png" alt="IntelliJ IDEA Logo">IntelliJ IDEA</li>
                <li><img src="/public/images/linux-logo.png" alt="Linux Logo">Linux</li>
                <li><img src="/public/images/arduinoLogo.png" alt="Arduino Uno Logo">Arduino Uno</li>
            </ul>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container mt-5" data-aos="fade-up">
        <!-- Contact Form Section -->
        <div id="contact-form">
            <h2>Contact Me</h2>
            <form action="/projects" method="POST">
                <div class="mb-3">
                    <label for="name" class="form-label">What's your name?</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Your Email 📨</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
                </div>
                <div class="mb-3">
                    <label for="interest" class="form-label">I'm interested in 💻</label>
                    <select class="form-select" id="interest" name="interest" required>
                        <option selected disabled value="">Select an option</option>
                        <option value="Web Development">Web Development</option>
                        <option value="Mobile Development">Mobile Development</option>
                        <option value="UI/UX Design">UI/UX Design</option>
                        <option value="Backend Development">Backend Development</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Your message 📩</label>
                    <textarea class="form-control" id="message" name="message" rows="4" placeholder="Hi, Harsh" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <!-- Contact Details Section -->
     <div id="contact-details">
            <h2>Let's Connect 🤝</h2>
            <p>Whether you have a project in mind, a question, or simply want to connect, send me a message!</p>
            <div class="social-media" data-aos="fade-right">
                <a href="https://github.com/harshdeepsdhillon1" target="_blank"><img src="../public/images/GithubLogoWhite.png" alt="GitHub Logo"></a>
                <a href="https://www.linkedin.com/in/harshdeep-singh-dhillon-b29603256/" target="_blank"><img src="../public/images/LinkedInLogoWhite.png" alt="LinkedIn Logo"></a>
                <a href="mailto:harshdeepsdhillon1@gmail.com"><img src="../public/images/MailLogoWhite.png" alt="Email Logo"></a>
            </div>
        </div>
    </div>
</section>


    <!-- Footer -->
    <footer>
        <a href="/"><img src="../public/images/logo.png"></a>
        <p>&copy; Coded By Harshdeep Singh.</p>
        <a href="../public/resume.pdf" download>RESUME</a>
    </footer>
    <script src="/js/bootstrap.min.js"></script>
    <!-- Include AOS library directly from CDN -->


    <script type="module" src="/public/js/main.js" defer></script>

</body>
</html>