<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/styles/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <header>
    {{>nav}}
    <section class="hero">
        <div class="social-media">
            <a href="https://github.com/yourusername" target="_blank"><img src="../public/images/github.png"></a>
            <a href="https://www.linkedin.com/in/yourusername/" target="_blank"><img src="../public/images/linkedin.png"></a>
            <a href="mailto:your-email@example.com"><img src="../public/images/mail.webp"></a>
        </div>
        <div class="hero-text">
            <h1>Hi, This is Harshdeep Singh</h1>
            <p>Passionate about Coding, Commited to Growth</p>
            <button id="CV">Download CV</button>
        </div>
        <div class="hero-image">
            <img src="../public/images/head_image.jpg" alt="Your Name">
        </div>
    </section>
</header>
    <!-- Skills Section -->
    <section id="skills">
        <h2>SKILLS</h2>
        <div class="skills-container">
            <div class="skill-category">
                <h3>FRONT END DESIGN</h3>
                <ul>
                    <li>Html</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>React (In progress)</li>
                    <li>Angular.js</li>
                    <li>Bootstrap</li>
                     <li>VS Code</li>
                </ul>
            </div>
            <div class="skill-category">
                <h3>BACK END ENGINEERING</h3>
                <ul>
                    <li>Java</li>
                    <li>Python</li>
                    <li>Express.js</li>
                    <li>Node.js</li>
                    <li>.NET</li>
                    <li>MongoDB</li>
                    <li>MySQL</li>
                    <li>Azure</li>
                    <li>PyCharm</li>
                    <li>IntelliJ IDEA</li>
                    <li>Visual Studio 2022<li></li>
                </ul>
            </div>
            <div class="skill-category">
                <h3>ADDITIONAL SKILLS/CONCEPTS</h3>
                <ul>
                    <li>Object-Oriented Programming</li>
                    <li>Document Automation</li>
                    <li>Design & Development</li>
                    <li>Databases</li>
                    <li>Cloud Computing</li>
                    <li>Team Leadership</li>
                    <li>Project Management</li>
                    <li>Customer Service</li>
                    <li>Problem Solving</li>
                </ul>
            </div>
        </div>
    </section>

        <!-- About Section -->
        <section id="about">
            <h2>About Me</h2>
            <div class="about-content">
                <div id="about-details">
                    <h3>Objective</h3>
                    <p>Highly motivated software development student seeking an internship to contribute to the core platform of the next generation of software. Eager to apply my strong programming skills, problem-solving abilities, and collaborative mindset in a dynamic team environment and get hands-on industry experience.</p>
                </div>
                <div>

                </div>
                <div id="about-details">
                    <h3>Education</h3>
                <p><strong>Diploma in Computer Programming</strong>, Georgian College, Barrie<br>
                Dean’s List: Achieved a GPA of 80%<br>
                Expected Graduation: December 2024</p>
    
                <p><strong>High School</strong>, Spring Dale Senior School, Amritsar<br>
                Achieved a GPA of 87.8% in Science Stream with an astonishing 92% in computers.</p>
    
                <p><strong>C++ Certificate</strong>, Aptech Industries Ltd, Amritsar<br>
                Achieved the certificate of merit in C++</p>
                </div>
                <div></div>
                
            </div>
        </section>
    
    
    <!-- Contact Form Section -->
    <section id="contact">
        <div id="contact-details">
            <h2>CONTACT</h2>
            <div class="social-media">
                <a href="https://github.com/yourusername" target="_blank"><img src="../public/images/github.png"></a>
                <a href="https://www.linkedin.com/in/yourusername/" target="_blank"><img src="../public/images/linkedin.png"></a>
                <a href="mailto:your-email@example.com"><img src="../public/images/mail.webp"></a>
            </div>
        </div>
        
        <form action="https://formspree.io/f/YOUR_FORM_ID" method="POST">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="message">Message:</label>
            <textarea id="message" name="message" required></textarea>
            <button type="submit">Send</button>
        </form>
    </section>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Harshdeep Dhillon. All rights reserved.</p>
        <a href="your-resume.pdf" download>RESUME</a>
    </footer>
    <script src="/js/bootstrap.min.js"
</body>
</html>