<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/styles/style.css">
</head>
<body>
    <!-- Include Navbar -->
    <header class="projects-header">
        {{> nav }}
    </header>
    <!-- Projects Section -->
    <section id="projects">
    <div class="container">
        <h2 class="text-center my-5">MY PROJECTS</h2>

        <!-- Project Template -->
        <div class="project row mb-4">
            <div class="col-md-4">
                <img src="/public/images/snake game.png" alt="Snake Game" class="img-fluid">
            </div>
            <div class="col-md-8 project-info">
                <h3>SNAKE GAME</h3>
                <p>Developed a Snake Game using the Turtle module in Python. The project applies Object-Oriented Programming concepts.</p>
                <ul>
                    <li>Python</li>
                    <li>Object-Oriented Programming</li>
                    <li>Turtle Graphics</li>
                </ul>
                <a href="https://github.com/harshdeepsdhillon1/snakegame" target="_blank" class="btn btn-primary">View on GitHub</a>
            </div>
        </div>
        <div class="project row mb-4">
            <div class="col-md-4">
                <img src="/public/images/lamborghini_website.png" alt="Snake Game" class="img-fluid">
            </div>
            <div class="col-md-8 project-info">
                <h3>RETRO PRODUCT WEBSITE: LAMBORGHINI</h3>
                <p>Developed a Snake Game using the Turtle module in Python. The project applies Object-Oriented Programming concepts.</p>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JAVASCRIPT</li>
                </ul>
                <a href="https://github.com/harshdeepsdhillon1/snakegame" target="_blank" class="btn btn-primary">View on GitHub</a>
            </div>
        </div>

        <!-- Repeat similar blocks for other projects -->
        <!-- Example: JAVA BANKING APPLICATION -->
        <div class="project row mb-4">
            <div class="col-md-4">
                <img src="/public/images/java_banking.png" alt="Java Banking Application" class="img-fluid">
            </div>
            <div class="col-md-8 project-info">
                <h3>JAVA BANKING APPLICATION</h3>
                <p>A banking application built with Java, using MySQL for database management. The GUI was developed using Scene Builder.</p>
                <ul>
                    <li>Java</li>
                    <li>Object-Oriented Programming</li>
                    <li>MySQL</li>
                </ul>
                <a href="https://github.com/harshdeepsdhillon1/javabankingApp" target="_blank" class="btn btn-primary">View on GitHub</a>
            </div>
        </div>
        
    </div>
</section>

    <!-- Footer -->
    <footer>
        <a href="/"><img src="../public/images/logo.png"></a>
        <p>&copy; 2024 Harshdeep Dhillon. All rights reserved.</p>
        <a href="../public/resume.pdf" download>RESUME</a>
    </footer>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>
